.box{
    margin-left: 50px;
}
.box1{
    margin-top: -70px;
    margin-left: 100px;
}
.box2{
    margin-top: -100px;
    margin-left: 150px;
}
.box3{
    margin-top: -135px;
    margin-left: 180px;
}
.box4{
    margin-top: -167px;
    margin-left: 225px;
}
.box5{
    margin-top: -200px;
    margin-left: 270px;
}
.box6{
    margin-top: -230px;
    margin-left: 315px;
}
.box7{
    margin-top: -263px;
    margin-left: 360px;
}
.box8{
    margin-top: -292px;
    margin-left: 405px;
}
.box9{
    margin-top: -327px;
    margin-left: 430px;
}
.box10{
    margin-top: -360px;
    margin-left: 477px;
}
.box11{
    margin-top: -250px;
    margin-left: 50px;
    border-radius: 5px;
}
.box12{
    margin-top: -282px;
    margin-left: 120px;
    border-radius: 5px;
}
.box13{
    margin-top: -313px;
    margin-left: 190px;
}
.box14{
    margin-top: -343px;
    margin-left: 235px;
}
.box15{
    margin-top: -375px;
    margin-left: 280px;
}
.box16{
    margin-top: -406px;
    margin-left: 330px;
}
.box17{
    margin-top: -437px;
    margin-left: 365px;
}
.box18{
    margin-top: -468px;
    margin-left: 440px;
}
.lol{
    position: absolute;
    top: 80px;
    left: 5px;
}
.lol1{
    position: absolute;
    top: -40px;
    left: 5px;
}
.lol2{
    position: absolute;
    top: 195px;
    left: 5px;
}
.box19{
    margin-top: -370px;
    margin-left: 50px;
}
.box20{
    margin-top: -400px;
    margin-left: 103px;
}
.box21{
    margin-top: -432px;
    margin-left: 153px;
}
.box22{
    margin-top: -463px;
    margin-left: 180px;
}
.box23{
    margin-top: -495px;
    margin-left: 227px;
}
.box24{
    margin-top: -527px;
    margin-left: 273px;
}
.box25{
    margin-top: -560px;
    margin-left: 320px;
}
.box26{
    margin-top: -592px;
    margin-left: 370px;
}