.box1{
    background-color: #7cbdef;
}
.box2{
    background-color: #aee5ae;
}
.box3{
    background-color: #84b9c7 !important;
}
.box4{
    background-color: rgba(141, 141, 141, 0.65) !important;
}
.box5{
    background-color: #ece2bc !important;
}
.box6{
    background-color: #d7b2cd !important;
}
.box7{
    background-color: rgba(141, 141, 141, 0.65) !important;
}
.box8{
    background-color: #bebebe;
}
.box9{
    background-color: #d7d6d6 !important;
}
