.yyah{
    background-color: #5b86da;
}
.bol{
    margin-right: 120px;
}
.lob{
    margin-left: 302px;
    margin-top: 5px;
}
.lop{
    margin-left: 430px;
    margin-top: 5px;
}
.yyat{
    background-color: #42bd5f;
}
.mol{
    background-color: #2966dc;
}
.not{
    background-color: #28a745;
}
.lopb{
    margin-left: 700px;
    margin-top: 5px;
}
.yyaty{
    background-color: #19b1c2;
}
.noa{
    background-color: #b07c0b;
}
.mlop{
    margin-left: 327px;
   margin-top: -10px;
}
.you{
    background-color: #b42727;
}
.you1{
    background-color: #7c0707;
}
